# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# TensorFlow
checkpoint
*.ckpt
*.h5

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
target/

# Logs
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# Other
*.bak
*.tmp
*.temp

#
*.idea